body {
    margin: 0;
    padding: 0;
    background-color: rgb(201, 216, 230);
}
.Main{
    width: Hug (247px);
    height: Hug (64px);
    top: 40px;
    left: 91px;
    gap: 16px;

}
.Main img {
    width: 64px;
    height: 64px;
    margin: 20px auto;
    display: block;
}

.Main p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: rgba(47, 61, 76, 1);
}

.box {
    width: 100%;
    max-width: 402px;
    margin: 0 auto;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.4) 100%);
    border: 1px solid rgb(244, 244, 255);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.box img:nth-child(1) {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.box img:nth-child(2) {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    display: block;
}

.text p span.c1 {
    color: rgba(47, 61, 76, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    margin-left: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.text p span.c2 {
    color: rgb(172, 11, 0);
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    margin-left: 1%;
    text-align: center;
    margin-bottom: 20px;
}

.email,
.password {
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    color: rgba(47, 61, 76, 1);
    margin-bottom: 5px;
    position: relative;
}


.password img {
    position: absolute; /* Mengatur posisi absolut agar gambar berada di atas input password */
    top: 60%; /* Mengatur posisi vertikal pada tengah */
    right: 20px; /* Mengatur posisi horizontal di sebelah kanan */
    transform: translateY(-50%); /* Menggeser posisi gambar ke atas setengah dari tingginya */
}


.email-input,
.password-input {
    width: 93%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(198, 209, 220, 1);
    margin-bottom: 15px;
}

.checkbox {
    display: flex; /* Mengaktifkan flexbox */
    align-items: center; 
    justify-content: space-between; /* Mengatur jarak yang sama di antara elemen */
    /* margin-bottom: 15px; */
}
.remember{
    width: 100%;
    max-width: 402px;
    margin: -20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    /* margin-top: 1px; */

}
.ingat {
    font-family: Inter;
    color: rgb(13, 14, 14);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    margin: 0;
    /* margin-left: auto; */
    float: left;
    left: 18px;
}

.forgot {
    font-family: Inter;
    color: rgb(7, 7, 7);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    margin: 15px;
    /* margin-right: auto; */
    /* right: 20px; */
}

.btn-login {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-family: calibri;
    font-weight: bold;
    color: white;
    font-size: 14px;
    outline: none;
    margin-top: 15px;
    background-color: rgba(217, 3, 39, 1);
    display: block;
}

.validasi {
    width: 100%;
    max-width: 402px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text-validasi {
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(31, 40, 50, 1);
}

.newer {
    width: 100%;
    max-width: 402px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.btn-new,
.btn-signup {
    width: 150px;
    height: 30px;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.btn-new {
    background-color: rgba(47, 61, 76, 1);
}

.btn-signup {
    background-color: transparent;
    border: 1px solid rgba(217, 3, 39, 1);
    color: rgba(217, 3, 39, 1);
}
