@charset "utf-8";
/* CSS Document*/
html{
  scroll-behavior: smooth;
}
body{
    margin:0px;
    padding:0px;
    background-image: url("Assets/main-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
}
 
ul{
    list-style:none;
}
 
a{
    text-decoration:none;
}
 
section{
    width: 100vw;
    height: 110vh;;
    position: relative;
    box-sizing: border-box;
}
 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    /* background-color: #FFFFFF; */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5); 
    padding: 0px 5%;
    color: white;
    /* background: linear-gradient(135deg, rgba(44, 43, 42, 0.7), rgba(53, 52, 51, 0.7)); */
    background: rgba(0, 0, 0, 0.5);
    width: auto;
}


nav ul{
    display: flex;
}
  
nav ul li a{
    margin:30px;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    font-size: 12px;
    font-weight:700;
    margin-right: 10px;
    /* position: absolute; */
    /* left: 10px; */
}

nav ul li:nth-child(7) {
    margin-left: 120px;
  }

.logo{
    font-family: Open Sans;
    color:white;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}


.active{
    color:white;
    font-weight:bold;
    font-size: 12px;
}
.Home p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: white;
    margin-top: 1px;
    font-size: 60px;
    text-align: center; /* Posisikan teks di tengah secara horizontal */
}
 
.Home p:nth-child(2) {
    font-family: calibri;
    letter-spacing: 2px;
    color: white;
    font-size: 20px;
    text-align: center; /* Posisikan teks di tengah secara horizontal */
    
}
.Home p:nth-child(5) {
  font-family: Open Sans;
  letter-spacing: 2px;
  color: rgb(253, 247, 247);
  position: absolute;
  left: 275px;
  top : 300px;
  font-size: 15px;
  text-align: justify; /* Posisikan teks di tengah secara horizontal */
  
}

.Home img{
  left : 305px;
  width : 20px;
  height: 20px;
  top : 370px
}
  
.Home p {
    line-height: 0px;
    margin: 55px 0px 25px;
    text-align: center; /* Posisikan teks di tengah secara horizontal */
    color: white;
    
}
 
.Home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Posisikan elemen container di tengah secara vertikal dan horizontal */
}
 
.Home button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: auto;
    display: block; /* Mengubah tombol menjadi elemen blok untuk memungkinkan margin: auto; bekerja */
}
 
.play-btn {
    border: 2px solid #373636;
    color: black;
    background-color: rgb(243, 168, 28);
    margin-top: 10px; /* Menambahkan jarak antara tombol dan teks */
}

.game {
  padding: 50px;
  margin-top: 630px;
  width: 100vw;
  height: 110vh;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 1) 100%
  ),
  url("Assets/the-games-bg.jpg");
  position: relative;
}

.game p:nth-child(1) {
  font-family: Arial;
  font-size: 24px;
  color: white;
  line-height: 1.5;
  margin-top: 100px;
}

.game p {
  font-family: Arial;
  font-size: 42px;
  color: white;
  line-height: 1.5;
  margin-top: 8px;
}

.game button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.game button:hover {
  background-color: #45a049;
}

.game .image-carousel {
  display: flex;
  overflow: hidden;
  width: 50%;
  position: absolute;
  left: 350px;
  top: 250px;
}

.game img.slide {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.game .prev,
.game .next {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.game .prev {
  left: 300px;
  top: 57%;
}

.game .next {
  right: 280px;
  top: 57%;
}

.game .prev:hover,
.game .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.features {
    padding: 1px;
    width: 100vw;
    height: 110vh;
    box-sizing: border-box;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/bg\ image\ 3.png");




/* angle: -180 deg; */

}
  
.features p:nth-child(1){
    float: left;
    margin-left: 870px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: white;
    line-height: 1.5;
    margin-top: 80px;
}
.features p:nth-child(3){
    float: left;
    margin-left: 870px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    line-height: 1.5;
    margin-top: 3px;
    color: rgba(255, 181, 72, 1);
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
}
.features p:nth-child(4){
    float: left;
    margin-left: 870px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: justified;
}
.features p:nth-child(5){
    float: left;
    margin-left: 870px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: justified;

}
.features p:nth-child(6){
    float: left;
    margin-left: 870px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    line-height: 1.5;
    margin-top: 20px;
    color: rgba(255, 181, 72, 1);
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;


}
.features p:nth-child(7){
    float: left;
    margin-left: 870px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    line-height: 1.5;
    margin-top: 20px;
    color: rgba(255, 181, 72, 1);
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;

}
  
.features p {
    font-family: Arial, sans-serif;
    font-size: 56px;
    color: white;
    line-height: 1.5;
    margin-top: 5px;
    text-align: right;
    margin-right: 200px;
}

.vertical-border-feature{
    border: 1px solid white;
    width: 0%;
    height: 21%;
    float: left;
    /* right: 100px; */
    margin-left: -300px;
    margin-top: -200px;
}

.features img {
    width: 400px;
    height: 585px;
    margin-top: 10px;
    /* text-align: right; */
    position: relative;
    left: 200px;
    /* top: -85px; */
    
  }
  
  .requirement {
    padding: 1px;
    width: 100vw;
    height: 110vh;
    top: 2880px;
    box-sizing: border-box;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/requirements.png");

  }

.requirement p {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 106px;

}

.requirement p:nth-child(2){
    font-family: Arial;
    font-size: 50px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    position: absolute;
    margin-top: 60px;
    left: 90px;
}

.requirement p:nth-child(3){
    font-family: Arial;
    font-size: 50px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    position: absolute;
    margin-top: 120px;
    left: 90px;
}

.requirement p:nth-child(6){
  font-family: Arial;
  flex: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  position: absolute;
  margin-top: -310px;
  margin-left: 100px;
  color: rgba(255, 181, 72, 1);
}
.requirement p:nth-child(7){
  text-align: left;
  font-family: Open Sans;
  font-size: 14px;
  /* font-weight: 400; */
  /* line-height: 22px; */
  letter-spacing: 0px;
  position: absolute;
  margin-top: -250px;
  left: 100px;
  /* margin-left: 100px; */
  margin-right: 1050px;
  color: white;
}

.requirement p:nth-child(8){
  font-family: Arial;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  position: absolute;
  margin-top: -210px;
  margin-left: 100px;
  color: rgba(255, 181, 72, 1);
}

.requirement p:nth-child(9){
  /* flex: left; */
  font-family: Open Sans;
  font-size: 14px;
  text-align: left;
  /* font-weight: 400; */
  /* line-height: 22px; */
  letter-spacing: 0px;
  position: absolute;
  margin-top: -150px;
  margin-left: 100px;
  margin-right: 1050px;
  color: white;
}

.requirement p:nth-child(10){
  font-family: Arial;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  position: absolute;
  margin-top: -110px;
  margin-left: 100px;
  color: rgba(255, 181, 72, 1);
}

.requirement p:nth-child(11){
  text-align: left;
  font-family: Open Sans;
  font-size: 14px;
  /* font-weight: 400; */
  /* line-height: 22px; */
  letter-spacing: 0px;
  position: absolute;
  margin-top: -60px;
  margin-left: 98px;
  margin-right: 900px;
  color: white;
}

.requirement p:nth-child(12){
  font-family: Arial;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  position: absolute;
  margin-top: -310px;
  /* margin-right: 200px; */
  right: 820px;
  color: rgba(255, 181, 72, 1);
}

.requirement p:nth-child(13){
  text-align: left;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  /* line-height: 22px; */
  letter-spacing: 0px;
  position: absolute;
  margin-top: -250px;
  left: 390px;
  margin-right: 700px;
  /* margin-left: 300px; */
  color: white;
}

.requirement p:nth-child(14){
  font-family: Arial;
  flex: left;
  left: 390px;
  font-size: 18px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  position: absolute;
  margin-top: -210px;
  /* margin-right: 200px; */
  /* right: 820px; */
  color: rgba(255, 181, 72, 1);
}

.requirement p:nth-child(15){
  flex: left;
  font-family: Open Sans;
  font-size: 14px;
  left: 390px;
  font-weight: 400;
  /* line-height: 22px; */
  letter-spacing: 0px;
  position: absolute;
  margin-top: -150px;
  /* right: 600px; */
  /* margin-right: 500px; */
  /* margin-left: 300px; */
  color: white;
}

.border-example {
    border: 1px solid rgba(151, 151, 151, 1);
    width: 573.1981811523438px;
    height: 300.6877746582031px;
    top: 388.4990234375px;
    left: 120.223876953125px;
    margin-top: 220px;
    margin-left: 90px;
  }


  .border-requirement{
    border-bottom: 1px solid rgb(95, 94, 94);
    width: 100%;
    float: left;
    margin-left: 1px;
    margin-top: 100px;
  }

  .border-requirement p:nth-child(1){
    border-bottom: 1px solid rgb(95, 94, 94);
    width: 100%;
    float: left;
    margin-left: 1px;
    margin-top: 100px;
  } 
  .border-requirement1{
    border-bottom: 1px solid rgb(95, 94, 94);
    width: 100%;
    float: left;
    margin-left: 1px;
    margin-top: 100px;
    
  }

  .vertical-border{
    border: 1px solid rgb(95, 94, 94);
    width: 0%;
    height: 26%;
    float: left;
    margin-left: 370px;
    margin-top: -300px;
  }

  /* .vertical-border{
    border: rgb(95, 94, 94);
    width: 10px;
    height: 100px;
  } */

.scores {
    padding: 1px;
    width: 100vw;
    height: 110vh;
    top: 2880px;
    box-sizing: border-box;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/the-games-bg.jpg");
    
  }

  .box {
    float: right;
    position: absolute;
    width: 320px;
    height: 150px;
    right: 50px;
    top: 3050px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(151, 151, 151, 1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }

  .box p:nth-child(3){
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    left: 70px;
    color: rgba(255, 181, 72, 1);
    position: absolute;
    top: 5px;
  }

  .box p:nth-child(4){
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 2px;
    color: rgb(112, 106, 106);
    margin-top: 23px;
    opacity: 0.5px;
    /* top: 55px; */
  }

  .box p:nth-child(5){
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
  }

  .box p:nth-child(6){
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 30px;
    color: rgb(119, 119, 119);
  }

  .box1 {
    float: right;
    position: absolute;
    width: 320px;
    height: 150px;
    right: 200px;
    top: 3240px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(151, 151, 151, 1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }

  .box1 p:nth-child(3){
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    left: 70px;
    color: rgba(255, 181, 72, 1);
    position: absolute;
    top: 5px;
  }

  .box1 p:nth-child(4){
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 2px;
    color: rgb(112, 106, 106);
    margin-top: 23px;
    opacity: 0.5px;
  }

  .box1 p:nth-child(5){
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
  }

  .box1 p:nth-child(6){
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
    color: rgb(119, 119, 119);
  }


  .box2 {
    float: right;
    position: absolute;
    width: 320px;
    height: 150px;
    right: 50px;
    top: 3430px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(151, 151, 151, 1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }

  .box2 p:nth-child(3){
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    left: 70px;
    color: rgba(255, 181, 72, 1);
    position: absolute;
    top: 5px;
  }

  .box2 p:nth-child(4){
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 2px;
    color: rgb(112, 106, 106);
    margin-top: 23px;
    opacity: 0.5px;
  }

  .box2 p:nth-child(5){
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
  }

  .box2 p:nth-child(6){
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 15px;
    color: rgb(119, 119, 119);
  }

  .scores1 p:nth-child(1){
    float: left;
    color: white;
    font-family: Arial;
    font-size: 41px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    position: absolute;
    left: 120px;
    top: 3180px;
  }
  .scores1 p:nth-child(2){
    float: left;
    color: white;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 200;
    line-height: 64px;
    letter-spacing: 3px;
    position: absolute;
    left: 120px;
    top: 3260px;
  }
  .scores1 p:nth-child(3){
    float: left;
    color: white;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    position: absolute;
    left: 120px;
    top: 3280px;
  }

 .scores1 button {
    width: 150px;
    position: absolute;
    height: 50px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: auto;
    left: 120px;
    top: 3380px;
    background-color: rgba(255, 181, 72, 1);
    display: block; /* Mengubah tombol menjadi elemen blok untuk memungkinkan margin: auto; bekerja */
}

.newsletter {
    padding: 1px;
    width: 100vw;
    height: 120vh;
    top: 2880px;
    box-sizing: border-box;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/newsletter.png");
}

.newsletter p:nth-child(1){
  font-family: Arial;
  font-size: 25px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
  margin-right: 420px;
  margin-left: 700px;
  margin-top: 150px;
  color: white;
}

.newsletter p:nth-child(2){
  font-family: Arial;
  font-size: 55px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 3px;
  text-align: left;
  margin-left: 700px;
  margin-right: 120px;
  margin-top: 40px;
  color: white;
}
.newsletter p:nth-child(3){
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 700px;
  margin-right: 120px;
  margin-top: -30px;
  color: white;
}

  .box-email{
    float: left;
    position: absolute;
    width: 280px;
    height: 50px;
    margin-left: 700px;
    margin-top: 5px;
    top: 4280px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(151, 151, 151, 1);
    border-radius: 5px;
    /* padding: 20px; */
    box-sizing: border-box;
  }
  
  .box-email h3:nth-child(1){
    font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(175, 175, 175);
  }

  .box-email h3:nth-child(2){
    font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 10px;
  margin-top: -12px;
  color: rgba(255, 181, 72, 1);
  }

  .subscribe-btn {
    float: right;
    width: 230px;
    position: absolute;
    height: 52px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: auto;
    right: 120px;
    margin-top: 5px;
    top: 4280px;
    background-color: rgba(255, 181, 72, 1);
    display: block; /* Mengubah tombol menjadi elemen blok untuk memungkinkan margin: auto; bekerja */
}

.footer {
  margin-top: -120px;
  
  /* margin: 0; */
}

.border{
  border-bottom: 1px solid rgb(95, 94, 94);
  width: 85%;
  margin-left: 100px;
  margin-top: 20px;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  color: white;
}

.footer li {
  margin: 0 10px;
  color: white;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-align: right;
  margin-left: 10px;
  margin-right: 40px;
  /* bottom: 10px; */

}

.copyright p:nth-child(1){
  float: left;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 19px;
  margin-left: 95px;
  color: rgb(95, 95, 95);
}

.copyright p:nth-child(2){
  float: right;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: right;
  margin-top: 19px;
  margin-right: 95px;
  color: rgb(255, 252, 252);
}
.email-input {
  background: none;
  color: yellow;
  position: absolute;
  top: 23px;
  left: 10px;
}

