*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: hsl(221, 25%, 34%);
  --blue-2: hsl(224, 35%, 17%);

  --light: #d8dbdb;
  --light-2: #bbb7b7;

  --violet: hsl(267, 46%, 25%);
  --violet-2: hsl(268, 71%, 12%);
}

main {
  background-color: var(--blue);
  color: var(--light);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  height: 80%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .title {
  font-size: 2rem;
  font-weight: 700;
}

.switch__theme {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  font-size: 0.9rem;
  font-weight: 700;
}

.redButton {
  transition: transform 0.3s linear;
}

.redButton.horizTranslate1 {
  transform: translateX(0);
}

.redButton.horizTranslate2 {
  transform: translateX(20px);
}

.redButton.horizTranslate3 {
  transform: translateX(40px);
}

#outerContainer{
  position:relative; 
  width:110px; 
}

#buttonContainer{
  background-color: hsl(223, 31%, 20%); 
  width: 71px; 
  height: 30px; 
  position:relative; 
  left: 20px; 
  top: 0; 
  border-radius:14px;
}

.redButton{
  width:17px; 
  height:17px; 
  background-color:#266fac; 
  border-radius:10px; 
  position:relative; 
  top:6px; 
  left:6px;
}

#legendTextContainer{
  left:22px; 
  display:inline-block;
  position:absolute; 
  top: -24px; 
  color:hsl(0, 0%, 100%);
  font-family:Arial; 
  font-size:15px;
  text-align:center;
}

.legendText{
  display:inline-block;
  width:20px; 
  padding-bottom:33px; 
  cursor:default; 
  user-select: none;
}

section.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
  width: 100%;
  background-color: var(--blue-2);
  border-radius: 15px;
}

section.display .display__input {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: end;
  width: 100%;
  padding: 1rem;
}

section.display .display__result {
  font-size: 2rem;
  font-weight: 700;
  text-align: end;

  width: 100%;
  padding: 0 1rem;

  background-color: var(--blue-2);
  color: var(--light);
  border: none;
  
}

section.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
  padding: 1.2rem;
  width: 100%;
  height: 100%;
  background-color: var(--blue-2);
  border-radius: 17px;
}

section.input button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3ceca;
  border-radius: 15%;
  cursor: pointer;
  transition: all 0.s ease-in-out;

  font-size: 2rem;
  font-weight: 700;
  font-size: 23px;
  
  border: none;
  box-shadow: 0 3px 0 0 #B1A49A;
}

section.input button:hover {
  background-color: #f59c58;
  box-shadow: 0 0 0 2px #faad71;
}

section.input button.delete, section.input button.reset {
  background-color: #657199;
  color: var(--light);
  box-shadow: 0 3px 0 0 #566082;
}

section.input button.delete:hover, section.input button.reset:hover {
  background-color: #566082;
  box-shadow: 0 0 0 2px #657199;
}

section.input button.reset {
  grid-column: 1 / span 2;
  border-radius: 15px;
}

section.input button.total {
  grid-column: 3 / span 2;
  border-radius: 15px;

  background-color: #D13E31;
  color: var(--light);
  box-shadow: 0 3px 0 0 #567399;
}

section.input button.total:hover {
  background-color: #bd4136;
  box-shadow: 0 0 0 2px #a73227;
}

@media screen and (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    gap: 1rem;
    padding: 0 1rem;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}


