*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  font-family: Inter;
}

body {
  overflow: hidden;
}

button {
  cursor: pointer;
}


.main-bg {
  background: #cbe1f1;
  height: 100vh;

  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.logo-text {
  color: #1f2832;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.login-layout {
  width: 320px;
  aspect-ratio: 1 / 1.536;

  flex-shrink: 0;
  background-color: white;

  border-radius: 16px;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.4) 100%);
  box-shadow: 0px 52px 48px -32px #a3b7c7, 0px 25px 32px -32px #8db4d3;
}

.top-layout {
  width: 100%;
  padding: 18px;

  position: relative;
}

.top-layout-bg {
  width: 100%;
  border-radius: 8px;
}

.top-layout-profile {
  display: flex;
  padding-top: 10px;
  align-items: center;
  gap: 18px;

  margin-top: -30px;

  margin-bottom: -25px;
}

.top-layout-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  position: relative;
  bottom: 30px;
  left: 10px;
}

.top-layout-text {
  position: relative;
  color: #2f3d4c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.top-layout-name {
  color: #d90327;
  font-weight: 700;
}

.form-layout {
  display: flex;
  flex-direction: column;

  padding: 0 24px;
}

.form-layout-label {
  margin-bottom: 8px;
  color: #2f3d4c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.form-layout-input {
  width: 100%;
  margin-bottom: 24px;

  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid #c6d1dc;
  background: #fff;
}

.input-group {
  display: flex;
  position: relative;
}

.layout-password {
  position: absolute;
  right: 10px;
  top: 8px;

  border: none;
  background-color: transparent;
}

.input-query {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.input-checkbox-text {
  color: #1f2832;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.input-checkbox-group {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  color: #3e334e;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

#remember {
  accent-color: #d90327;
}

.form-btn {
  display: flex;
  width: 100%;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  border: none;
}

.form-login {
  background: #d90327;
  color: white;

  margin: 24px 0;
}

.form-new {
  border-radius: 8px;
  background: #2f3d4c;

  color: white;
}

.form-signup {
  border-radius: 8px;
  border: 1px solid #d90327;

  background-color: transparent;

  color: #d90327;
}

.layout-not-text {
  color: #1f2832;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.bottom-layout {
  display: flex;
  gap: 18px;
  margin-top: 24px;

  padding: 0 24px 24px 24px;
}
